/* welcome to hadoo frame work */

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    margin: auto;
    max-width: 1200px;
}
.f-left{
    float:left;
}
.f-right{
float: right;
}
.upper{
    text-transform: uppercase;
}
.li-style{
    list-style: none;
}
.fix{
    clear: both;
}

.capitalize{
    text-transform: capitalize;
}
.h1{
    font-size: 24px;

}
.text-center{
    text-align: center;
}


/* responsive */
@media (max-width: 576px) {
.h1{
    font-size: 17px; !important;
}
    .lead{
        font-size: 14px; !important;
        line-height: 1.2; !important;
    }
}

@media (max-width: 767px) {
    .h1{
        font-size: 18px; !important;
    }
    .lead{
        font-size: 16px; !important;
        line-height: 1.3; !important;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

    }























