/* general */

*{
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: lucida sans;
}

.overlay {
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    height: 500px;
}
.my-sec{
    padding: 20px 0;
}

/* Header */

header{
    height: auto;
    padding: 20px;
    position: fixed;
    z-index: 555;
}
.sticky{
    background-color: #000;
    color: #fff;
    display: block;
    width: 100%;
}
header h2{
    font-size: 30px;
    color: #ffff;
}

header nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header nav .nav-list .list {
    padding-top: 30px;
}
header nav .nav-list .list a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
header nav .nav-list .list a:hover{
    color: #74b939;
}

/* Header */

/* Home */
.home{
    background-image: url("../images/home/skill-bg.jpg"); center;
    background-size: cover;
    position: relative;
    height: 500px;
    color: #ffff;
}

.home h3{
    margin: 150px 0 20px;
    font-size: 36px;
}
.home p{
    font-size: 24px;
}
.home .btn {
    width: 150px;
    text-align: center;
    background-color: #74b939;
    font-size: 20px;
    padding: 10px;
}

.home .btn:hover{
    background-color: #ffff;
    color: #74b939;
}
/* Home */

/* About */

.about .head h2{
    font-size: 40px;
}

.about .head .line{
    width: 150px;
    height: 2px;
    margin: auto;
    background-color: #dddd;
}
.about .head .line span{
    display: block;
    background-color: #74b939;
    width: 100px;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}
.about .head p{
    margin: 15px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
}
.about .about-info span{
    color: #74b939;
}
.about .about-info .about-info-txt{
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
    padding: 20px 20px 20px 0;
}
.about .about-info .btn{
    background-color: #74b939;
    color: #ffff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

 .about-img img{
    max-width: 100%;
}


/* Services */

.services{
    background-color: #f7f7f7;
}
.services .head h2{
    font-size: 40px;
}

.services .head .line{
    width: 150px;
    height: 2px;
    margin: auto;
    background-color: #dddd;
}
.services .head .line span{
    display: block;
    background-color: #74b939;
    width: 100px;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}
.services .head p{
    margin: 25px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
}

.services .Serv{
    background-color: #ffff;
    margin: 5px
}
.services .Serv:hover{
    background-color: #74b939;
    transition: all 0.5s ease-in-out;
}
.services .Serv:hover i{
    border:20px solid #ffff;
    background: #ffff;
    color: #74b939;
}
.services .Serv:hover h3,
.services .Serv:hover  p{
    color: #fff;
}
.services .Strategy i{
    color: #fff;
    border:20px solid #74b939;
    background-color: #74b939;
    border-radius: 50%;
    margin: 25px 0 10px 0;
}
.services .Strategy h3{
    font-weight: bold;
    color: #999999;
}
.services .Strategy p{
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
    padding-bottom: 45px;
}

/* Sells */
.sells{
    background-image: url("../images/stat/lap-stat.jpg");
    background-size: cover;
}

.sells  i{
    color: #fff;
    border:20px solid #74b939;
    background-color: #74b939;
    border-radius: 50%;
    margin: 25px 0 10px 0;
}
.sells span ,p{
    color: #ffff;
    font-size: 20px;
}

/* portfolio */
.portfolio .head h2{
    font-size: 40px;
}

.portfolio .head .line{
    width: 150px;
    height: 2px;
    margin: auto;
    background-color: #dddd;
}
.portfolio .head .line span{
    display: block;
    background-color: #74b939;
    width: 100px;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}
.portfolio .head p{
    margin: 25px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
}

.portfolio .btns {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 30px ;
}
.portfolio .btns button{
    background-color: #000;
    color: #ffff;
    padding: 10px 30px;
    outline: #000;
    opacity: .8;
    border: 0;
}

.portfolio .all img{
    max-width: 100%;
    margin-bottom: 15px;
}

.portfolio .more{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 30px ;
}

.portfolio .more button{
    background-color: #000;
    color: #ffff;
    padding: 10px 85px;
    outline: #000;
    opacity: .8;
    border: 0;
}
.active_btn{
    color: #74b939; !important;
}

/* team */
.team .head h2{
    font-size: 40px;
}

.team .head .line{
    width: 150px;
    height: 2px;
    margin: auto;
    background-color: #dddd;
}
.team .head .line span{
    display: block;
    background-color: #74b939;
    width: 100px;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}
.team .head p{
    margin: 25px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
}

.team .item  img{
    max-width: 100%;
}
.team .item  figcaption{
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}

.team .item  span{
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    display: block;
}

.team .item  div{
    background-color: #000;
    color: #ffff;
}
.team .item  div:hover{
    background-color: #74b939;
    transition: all ease-in-out .4s;
    color: #ffff;
}
.team .item div i{
    padding: 12px;
    margin: auto;
}
/* chose us */

.chose{
    background-color: #f7f7f7;
    margin-bottom: 0;
    padding-bottom: 0;
}
.chose .head h2{
    font-size: 40px;
}

.chose .head .line{
    width: 150px;
    height: 2px;
    margin: auto;
    background-color: #dddd;
}
.chose .head .line span{
    display: block;
    background-color: #74b939;
    width: 100px;
    height: 4px;
    margin: auto;
    position: relative;
    bottom: 2px;
}
.chose .head p{
    margin: 25px;
    font-size: 16px;
    color: #c6c6c6;
    line-height: 1.5;
}

.chose .content .info ul{
    background-color: #000;
    padding: 15px ;
    margin: 0;
}
.chose .content .info ul li{
    color: #fff;
    display: inline;
    padding: 20px;
    cursor: pointer;
}
.chose .content .panel .panel-1{

    border: 1px solid #000;
}
.chose .content .panel-1 img{
    width: 40%;
    float: left;
}

.chose .content .panel-1 p{
    color:#c6c6c6;
    margin: 5px;
    font-size: 14px;
    padding: 10px;
}

.chose .content .panel-2,
.chose .content .panel-3{
    display: none;
}

.chose .video{
    background-color: #676767;
    height: 345px;
}
.chose .video-content{
    padding-top: 120px;
}
.chose .video i{
    color: #f00;
}
.chose .video h3,p{
    color: #fff;
}
footer{
    background-color: #676767;
    overflow: hidden;
}
footer p{
    padding: 20px;
    color: #fff;
}

footer span{
   color: #74b939;
 }
.scroll-top i{
    position: fixed;
    bottom: 100px;
    right: 15px;
    color: #74b939;
    cursor: pointer;
    display: none;

}

@media (max-width: 575px ){

    header{
        background-color: black;
        width: 100%;
    }
    header .logo .m-logo{
        font-size: 30px;
        justify-content: center;
    }

    header nav .nav-list{
        list-style: none;
        display: none;
        text-align: center;
    }

}





































